/* Style for the color options */
.color-picker {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.color-option {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
}

/* Cube layout styles */
.rubiks-cube-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cube-row {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.side-face, .top-face, .bottom-face {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.top-face, .bottom-face {
    margin-left: -155px;
}

.color-button {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: 2px solid black;
    cursor: pointer;
}

/* Apply margin to specific columns */
.middle-section .cube-row button:nth-child(4),
.middle-section .cube-row button:nth-child(7),
.middle-section .cube-row button:nth-child(10) {
    margin-left: 15px; /* Adjust this value to control the spacing */
}

.white-face {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
}

.red-face {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    background-color: red;
}

.green-face {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    background-color: green;
}

.blue-face {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    background-color: blue;
}

.orange-face {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    background-color: orange;
}

.yellow-face {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
    background-color: yellow;
}