body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.rubiks-container {
    display: grid;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.face {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    margin: 5px;
}

#top, #bottom, #left, #right, #front, #back {
    width: 150px;
    height: 150px;
}

.square-button {
    width: 50px;
    height: 50px;
    background-color: grey;
    border: 2px solid #000;
    cursor: pointer;
}

#top { background-color: white; }
#left { background-color: green; }
#front { background-color: red; }
#right { background-color: blue; }
#back { background-color: orange; }
#bottom { background-color: yellow; }
